* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: azure;
}
body {
  background-color: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(79, 57, 173, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 10px;
  box-shadow: 50px;
  font-size: 10vmin;
  background-color: beige;
  color: black;
}
.reset {
  padding: 13px;
  border-radius: 15px;
  background-color: green;
  color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#msg {
  color: darkkhaki;
  font-size: 50px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: azure;
}
.hide {
  display: none;
}
